@CHARSET "ISO-8859-1";

table {
    border:none !important;
    border-spacing: 10px 0 !important;
    /* override bootstrap default */
    border-collapse:separate !important;
}
  
  td {
  background: none;
  padding: 2em;
  /* for demo only - not a border */
  outline:1px solid grey;
}
footer {
  background: #061D25;
  padding: 10px 0;
  text-align: center;
}
footer a {
  color: #70726F;
  font-size: 20px;
  padding: 10px;
  border-right: 1px solid #70726F;
  transition: all .5s ease;
}
footer a:first-child {
  border-left: 1px solid #70726F;
}
footer a:hover {
  color: white;
}